@import "tailwindcss";

:root {
  --parchment: #efeceb;
  --almond-silk: #e3ccbf;
  --tea-green: #d4e4bc;
  --cool-steel: #96acb7;
  --charcoal: #494850;
  --pitch-black: #100b00;
}

body {
  background: var(--pitch-black);
  color: var(--parchment);
  -webkit-font-smoothing: antialiased;
}
